.location.ad {
    background: url(../img/icons/flags/ad.png) no-repeat 6px 10px transparent;
}
.location.ae {
    background: url(../img/icons/flags/ae.png) no-repeat 6px 10px transparent;
}
.location.af {
    background: url(../img/icons/flags/af.png) no-repeat 6px 10px transparent;
}
.location.ag {
    background: url(../img/icons/flags/ag.png) no-repeat 6px 10px transparent;
}
.location.ai {
    background: url(../img/icons/flags/ai.png) no-repeat 6px 10px transparent;
}
.location.al {
    background: url(../img/icons/flags/al.png) no-repeat 6px 10px transparent;
}
.location.am {
    background: url(../img/icons/flags/am.png) no-repeat 6px 10px transparent;
}
.location.an {
    background: url(../img/icons/flags/an.png) no-repeat 6px 10px transparent;
}
.location.ao {
    background: url(../img/icons/flags/ao.png) no-repeat 6px 10px transparent;
}
.location.ar {
    background: url(../img/icons/flags/ar.png) no-repeat 6px 10px transparent;
}
.location.as {
    background: url(../img/icons/flags/as.png) no-repeat 6px 10px transparent;
}
.location.at {
    background: url(../img/icons/flags/at.png) no-repeat 6px 10px transparent;
}
.location.au {
    background: url(../img/icons/flags/au.png) no-repeat 6px 10px transparent;
}
.location.aw {
    background: url(../img/icons/flags/aw.png) no-repeat 6px 10px transparent;
}
.location.ax {
    background: url(../img/icons/flags/ax.png) no-repeat 6px 10px transparent;
}
.location.az {
    background: url(../img/icons/flags/az.png) no-repeat 6px 10px transparent;
}
.location.ba {
    background: url(../img/icons/flags/ba.png) no-repeat 6px 10px transparent;
}
.location.bb {
    background: url(../img/icons/flags/bb.png) no-repeat 6px 10px transparent;
}
.location.bd {
    background: url(../img/icons/flags/bd.png) no-repeat 6px 10px transparent;
}
.location.be {
    background: url(../img/icons/flags/be.png) no-repeat 6px 10px transparent;
}
.location.bf {
    background: url(../img/icons/flags/bf.png) no-repeat 6px 10px transparent;
}
.location.bg {
    background: url(../img/icons/flags/bg.png) no-repeat 6px 10px transparent;
}
.location.bh {
    background: url(../img/icons/flags/bh.png) no-repeat 6px 10px transparent;
}
.location.bi {
    background: url(../img/icons/flags/bi.png) no-repeat 6px 10px transparent;
}
.location.bj {
    background: url(../img/icons/flags/bj.png) no-repeat 6px 10px transparent;
}
.location.bm {
    background: url(../img/icons/flags/bm.png) no-repeat 6px 10px transparent;
}
.location.bn {
    background: url(../img/icons/flags/bn.png) no-repeat 6px 10px transparent;
}
.location.bo {
    background: url(../img/icons/flags/bo.png) no-repeat 6px 10px transparent;
}
.location.br {
    background: url(../img/icons/flags/br.png) no-repeat 6px 10px transparent;
}
.location.bs {
    background: url(../img/icons/flags/bs.png) no-repeat 6px 10px transparent;
}
.location.bt {
    background: url(../img/icons/flags/bt.png) no-repeat 6px 10px transparent;
}
.location.bv {
    background: url(../img/icons/flags/bv.png) no-repeat 6px 10px transparent;
}
.location.bw {
    background: url(../img/icons/flags/bw.png) no-repeat 6px 10px transparent;
}
.location.by {
    background: url(../img/icons/flags/by.png) no-repeat 6px 10px transparent;
}
.location.bz {
    background: url(../img/icons/flags/bz.png) no-repeat 6px 10px transparent;
}
.location.ca {
    background: url(../img/icons/flags/ca.png) no-repeat 6px 10px transparent;
}
.location.catalonia {
    background: url(../img/icons/flags/catalonia.png) no-repeat 6px 10px transparent;
}
.location.cc {
    background: url(../img/icons/flags/cc.png) no-repeat 6px 10px transparent;
}
.location.cd {
    background: url(../img/icons/flags/cd.png) no-repeat 6px 10px transparent;
}
.location.cf {
    background: url(../img/icons/flags/cf.png) no-repeat 6px 10px transparent;
}
.location.cg {
    background: url(../img/icons/flags/cg.png) no-repeat 6px 10px transparent;
}
.location.ch {
    background: url(../img/icons/flags/ch.png) no-repeat 6px 10px transparent;
}
.location.ci {
    background: url(../img/icons/flags/ci.png) no-repeat 6px 10px transparent;
}
.location.ck {
    background: url(../img/icons/flags/ck.png) no-repeat 6px 10px transparent;
}
.location.cl {
    background: url(../img/icons/flags/cl.png) no-repeat 6px 10px transparent;
}
.location.cm {
    background: url(../img/icons/flags/cm.png) no-repeat 6px 10px transparent;
}
.location.cn {
    background: url(../img/icons/flags/cn.png) no-repeat 6px 10px transparent;
}
.location.co {
    background: url(../img/icons/flags/co.png) no-repeat 6px 10px transparent;
}
.location.cr {
    background: url(../img/icons/flags/cr.png) no-repeat 6px 10px transparent;
}
.location.cs {
    background: url(../img/icons/flags/cs.png) no-repeat 6px 10px transparent;
}
.location.cu {
    background: url(../img/icons/flags/cu.png) no-repeat 6px 10px transparent;
}
.location.cv {
    background: url(../img/icons/flags/cv.png) no-repeat 6px 10px transparent;
}
.location.cx {
    background: url(../img/icons/flags/cx.png) no-repeat 6px 10px transparent;
}
.location.cy {
    background: url(../img/icons/flags/cy.png) no-repeat 6px 10px transparent;
}
.location.cz {
    background: url(../img/icons/flags/cz.png) no-repeat 6px 10px transparent;
}
.location.de {
    background: url(../img/icons/flags/de.png) no-repeat 6px 10px transparent;
}
.location.dj {
    background: url(../img/icons/flags/dj.png) no-repeat 6px 10px transparent;
}
.location.dk {
    background: url(../img/icons/flags/dk.png) no-repeat 6px 10px transparent;
}
.location.dm {
    background: url(../img/icons/flags/dm.png) no-repeat 6px 10px transparent;
}
.location.do {
    background: url(../img/icons/flags/do.png) no-repeat 6px 10px transparent;
}
.location.dz {
    background: url(../img/icons/flags/dz.png) no-repeat 6px 10px transparent;
}
.location.ec {
    background: url(../img/icons/flags/ec.png) no-repeat 6px 10px transparent;
}
.location.ee {
    background: url(../img/icons/flags/ee.png) no-repeat 6px 10px transparent;
}
.location.eg {
    background: url(../img/icons/flags/eg.png) no-repeat 6px 10px transparent;
}
.location.eh {
    background: url(../img/icons/flags/eh.png) no-repeat 6px 10px transparent;
}
.location.england {
    background: url(../img/icons/flags/england.png) no-repeat 6px 10px transparent;
}
.location.er {
    background: url(../img/icons/flags/er.png) no-repeat 6px 10px transparent;
}
.location.es {
    background: url(../img/icons/flags/es.png) no-repeat 6px 10px transparent;
}
.location.et {
    background: url(../img/icons/flags/et.png) no-repeat 6px 10px transparent;
}
.location.europeanunion {
    background: url(../img/icons/flags/europeanunion.png) no-repeat 6px 10px transparent;
}
.location.fam {
    background: url(../img/icons/flags/fam.png) no-repeat 6px 10px transparent;
}
.location.fi {
    background: url(../img/icons/flags/fi.png) no-repeat 6px 10px transparent;
}
.location.fj {
    background: url(../img/icons/flags/fj.png) no-repeat 6px 10px transparent;
}
.location.fk {
    background: url(../img/icons/flags/fk.png) no-repeat 6px 10px transparent;
}
.location.fm {
    background: url(../img/icons/flags/fm.png) no-repeat 6px 10px transparent;
}
.location.fo {
    background: url(../img/icons/flags/fo.png) no-repeat 6px 10px transparent;
}
.location.fr {
    background: url(../img/icons/flags/fr.png) no-repeat 6px 10px transparent;
}
.location.ga {
    background: url(../img/icons/flags/ga.png) no-repeat 6px 10px transparent;
}
.location.gb {
    background: url(../img/icons/flags/gb.png) no-repeat 6px 10px transparent;
}
.location.gd {
    background: url(../img/icons/flags/gd.png) no-repeat 6px 10px transparent;
}
.location.ge {
    background: url(../img/icons/flags/ge.png) no-repeat 6px 10px transparent;
}
.location.gf {
    background: url(../img/icons/flags/gf.png) no-repeat 6px 10px transparent;
}
.location.gh {
    background: url(../img/icons/flags/gh.png) no-repeat 6px 10px transparent;
}
.location.gi {
    background: url(../img/icons/flags/gi.png) no-repeat 6px 10px transparent;
}
.location.gl {
    background: url(../img/icons/flags/gl.png) no-repeat 6px 10px transparent;
}
.location.gm {
    background: url(../img/icons/flags/gm.png) no-repeat 6px 10px transparent;
}
.location.gn {
    background: url(../img/icons/flags/gn.png) no-repeat 6px 10px transparent;
}
.location.gp {
    background: url(../img/icons/flags/gp.png) no-repeat 6px 10px transparent;
}
.location.gq {
    background: url(../img/icons/flags/gq.png) no-repeat 6px 10px transparent;
}
.location.gr {
    background: url(../img/icons/flags/gr.png) no-repeat 6px 10px transparent;
}
.location.gs {
    background: url(../img/icons/flags/gs.png) no-repeat 6px 10px transparent;
}
.location.gt {
    background: url(../img/icons/flags/gt.png) no-repeat 6px 10px transparent;
}
.location.gu {
    background: url(../img/icons/flags/gu.png) no-repeat 6px 10px transparent;
}
.location.gw {
    background: url(../img/icons/flags/gw.png) no-repeat 6px 10px transparent;
}
.location.gy {
    background: url(../img/icons/flags/gy.png) no-repeat 6px 10px transparent;
}
.location.hk {
    background: url(../img/icons/flags/hk.png) no-repeat 6px 10px transparent;
}
.location.hm {
    background: url(../img/icons/flags/hm.png) no-repeat 6px 10px transparent;
}
.location.hn {
    background: url(../img/icons/flags/hn.png) no-repeat 6px 10px transparent;
}
.location.hr {
    background: url(../img/icons/flags/hr.png) no-repeat 6px 10px transparent;
}
.location.ht {
    background: url(../img/icons/flags/ht.png) no-repeat 6px 10px transparent;
}
.location.hu {
    background: url(../img/icons/flags/hu.png) no-repeat 6px 10px transparent;
}
.location.id {
    background: url(../img/icons/flags/id.png) no-repeat 6px 10px transparent;
}
.location.ie {
    background: url(../img/icons/flags/ie.png) no-repeat 6px 10px transparent;
}
.location.il {
    background: url(../img/icons/flags/il.png) no-repeat 6px 10px transparent;
}
.location.in {
    background: url(../img/icons/flags/in.png) no-repeat 6px 10px transparent;
}
.location.io {
    background: url(../img/icons/flags/io.png) no-repeat 6px 10px transparent;
}
.location.iq {
    background: url(../img/icons/flags/iq.png) no-repeat 6px 10px transparent;
}
.location.ir {
    background: url(../img/icons/flags/ir.png) no-repeat 6px 10px transparent;
}
.location.is {
    background: url(../img/icons/flags/is.png) no-repeat 6px 10px transparent;
}
.location.it {
    background: url(../img/icons/flags/it.png) no-repeat 6px 10px transparent;
}
.location.jm {
    background: url(../img/icons/flags/jm.png) no-repeat 6px 10px transparent;
}
.location.jo {
    background: url(../img/icons/flags/jo.png) no-repeat 6px 10px transparent;
}
.location.jp {
    background: url(../img/icons/flags/jp.png) no-repeat 6px 10px transparent;
}
.location.ke {
    background: url(../img/icons/flags/ke.png) no-repeat 6px 10px transparent;
}
.location.kg {
    background: url(../img/icons/flags/kg.png) no-repeat 6px 10px transparent;
}
.location.kh {
    background: url(../img/icons/flags/kh.png) no-repeat 6px 10px transparent;
}
.location.ki {
    background: url(../img/icons/flags/ki.png) no-repeat 6px 10px transparent;
}
.location.km {
    background: url(../img/icons/flags/km.png) no-repeat 6px 10px transparent;
}
.location.kn {
    background: url(../img/icons/flags/kn.png) no-repeat 6px 10px transparent;
}
.location.kp {
    background: url(../img/icons/flags/kp.png) no-repeat 6px 10px transparent;
}
.location.kr {
    background: url(../img/icons/flags/kr.png) no-repeat 6px 10px transparent;
}
.location.kw {
    background: url(../img/icons/flags/kw.png) no-repeat 6px 10px transparent;
}
.location.ky {
    background: url(../img/icons/flags/ky.png) no-repeat 6px 10px transparent;
}
.location.kz {
    background: url(../img/icons/flags/kz.png) no-repeat 6px 10px transparent;
}
.location.la {
    background: url(../img/icons/flags/la.png) no-repeat 6px 10px transparent;
}
.location.lb {
    background: url(../img/icons/flags/lb.png) no-repeat 6px 10px transparent;
}
.location.lc {
    background: url(../img/icons/flags/lc.png) no-repeat 6px 10px transparent;
}
.location.li {
    background: url(../img/icons/flags/li.png) no-repeat 6px 10px transparent;
}
.location.lk {
    background: url(../img/icons/flags/lk.png) no-repeat 6px 10px transparent;
}
.location.lr {
    background: url(../img/icons/flags/lr.png) no-repeat 6px 10px transparent;
}
.location.ls {
    background: url(../img/icons/flags/ls.png) no-repeat 6px 10px transparent;
}
.location.lt {
    background: url(../img/icons/flags/lt.png) no-repeat 6px 10px transparent;
}
.location.lu {
    background: url(../img/icons/flags/lu.png) no-repeat 6px 10px transparent;
}
.location.lv {
    background: url(../img/icons/flags/lv.png) no-repeat 6px 10px transparent;
}
.location.ly {
    background: url(../img/icons/flags/ly.png) no-repeat 6px 10px transparent;
}
.location.ma {
    background: url(../img/icons/flags/ma.png) no-repeat 6px 10px transparent;
}
.location.mc {
    background: url(../img/icons/flags/mc.png) no-repeat 6px 10px transparent;
}
.location.md {
    background: url(../img/icons/flags/md.png) no-repeat 6px 10px transparent;
}
.location.me {
    background: url(../img/icons/flags/me.png) no-repeat 6px 10px transparent;
}
.location.mg {
    background: url(../img/icons/flags/mg.png) no-repeat 6px 10px transparent;
}
.location.mh {
    background: url(../img/icons/flags/mh.png) no-repeat 6px 10px transparent;
}
.location.mk {
    background: url(../img/icons/flags/mk.png) no-repeat 6px 10px transparent;
}
.location.ml {
    background: url(../img/icons/flags/ml.png) no-repeat 6px 10px transparent;
}
.location.mm {
    background: url(../img/icons/flags/mm.png) no-repeat 6px 10px transparent;
}
.location.mn {
    background: url(../img/icons/flags/mn.png) no-repeat 6px 10px transparent;
}
.location.mo {
    background: url(../img/icons/flags/mo.png) no-repeat 6px 10px transparent;
}
.location.mp {
    background: url(../img/icons/flags/mp.png) no-repeat 6px 10px transparent;
}
.location.mq {
    background: url(../img/icons/flags/mq.png) no-repeat 6px 10px transparent;
}
.location.mr {
    background: url(../img/icons/flags/mr.png) no-repeat 6px 10px transparent;
}
.location.ms {
    background: url(../img/icons/flags/ms.png) no-repeat 6px 10px transparent;
}
.location.mt {
    background: url(../img/icons/flags/mt.png) no-repeat 6px 10px transparent;
}
.location.mu {
    background: url(../img/icons/flags/mu.png) no-repeat 6px 10px transparent;
}
.location.mv {
    background: url(../img/icons/flags/mv.png) no-repeat 6px 10px transparent;
}
.location.mw {
    background: url(../img/icons/flags/mw.png) no-repeat 6px 10px transparent;
}
.location.mx {
    background: url(../img/icons/flags/mx.png) no-repeat 6px 10px transparent;
}
.location.my {
    background: url(../img/icons/flags/my.png) no-repeat 6px 10px transparent;
}
.location.mz {
    background: url(../img/icons/flags/mz.png) no-repeat 6px 10px transparent;
}
.location.na {
    background: url(../img/icons/flags/na.png) no-repeat 6px 10px transparent;
}
.location.nc {
    background: url(../img/icons/flags/nc.png) no-repeat 6px 10px transparent;
}
.location.ne {
    background: url(../img/icons/flags/ne.png) no-repeat 6px 10px transparent;
}
.location.nf {
    background: url(../img/icons/flags/nf.png) no-repeat 6px 10px transparent;
}
.location.ng {
    background: url(../img/icons/flags/ng.png) no-repeat 6px 10px transparent;
}
.location.ni {
    background: url(../img/icons/flags/ni.png) no-repeat 6px 10px transparent;
}
.location.nl {
    background: url(../img/icons/flags/nl.png) no-repeat 6px 10px transparent;
}
.location.no {
    background: url(../img/icons/flags/no.png) no-repeat 6px 10px transparent;
}
.location.np {
    background: url(../img/icons/flags/np.png) no-repeat 6px 10px transparent;
}
.location.nr {
    background: url(../img/icons/flags/nr.png) no-repeat 6px 10px transparent;
}
.location.nu {
    background: url(../img/icons/flags/nu.png) no-repeat 6px 10px transparent;
}
.location.nz {
    background: url(../img/icons/flags/nz.png) no-repeat 6px 10px transparent;
}
.location.om {
    background: url(../img/icons/flags/om.png) no-repeat 6px 10px transparent;
}
.location.pa {
    background: url(../img/icons/flags/pa.png) no-repeat 6px 10px transparent;
}
.location.pe {
    background: url(../img/icons/flags/pe.png) no-repeat 6px 10px transparent;
}
.location.pf {
    background: url(../img/icons/flags/pf.png) no-repeat 6px 10px transparent;
}
.location.pg {
    background: url(../img/icons/flags/pg.png) no-repeat 6px 10px transparent;
}
.location.ph {
    background: url(../img/icons/flags/ph.png) no-repeat 6px 10px transparent;
}
.location.pk {
    background: url(../img/icons/flags/pk.png) no-repeat 6px 10px transparent;
}
.location.pl {
    background: url(../img/icons/flags/pl.png) no-repeat 6px 10px transparent;
}
.location.pm {
    background: url(../img/icons/flags/pm.png) no-repeat 6px 10px transparent;
}
.location.pn {
    background: url(../img/icons/flags/pn.png) no-repeat 6px 10px transparent;
}
.location.pr {
    background: url(../img/icons/flags/pr.png) no-repeat 6px 10px transparent;
}
.location.ps {
    background: url(../img/icons/flags/ps.png) no-repeat 6px 10px transparent;
}
.location.pt {
    background: url(../img/icons/flags/pt.png) no-repeat 6px 10px transparent;
}
.location.pw {
    background: url(../img/icons/flags/pw.png) no-repeat 6px 10px transparent;
}
.location.py {
    background: url(../img/icons/flags/py.png) no-repeat 6px 10px transparent;
}
.location.qa {
    background: url(../img/icons/flags/qa.png) no-repeat 6px 10px transparent;
}
.location.re {
    background: url(../img/icons/flags/re.png) no-repeat 6px 10px transparent;
}
.location.ro {
    background: url(../img/icons/flags/ro.png) no-repeat 6px 10px transparent;
}
.location.rs {
    background: url(../img/icons/flags/rs.png) no-repeat 6px 10px transparent;
}
.location.ru {
    background: url(../img/icons/flags/ru.png) no-repeat 6px 10px transparent;
}
.location.rw {
    background: url(../img/icons/flags/rw.png) no-repeat 6px 10px transparent;
}
.location.sa {
    background: url(../img/icons/flags/sa.png) no-repeat 6px 10px transparent;
}
.location.sb {
    background: url(../img/icons/flags/sb.png) no-repeat 6px 10px transparent;
}
.location.sc {
    background: url(../img/icons/flags/sc.png) no-repeat 6px 10px transparent;
}
.location.scotland {
    background: url(../img/icons/flags/scotland.png) no-repeat 6px 10px transparent;
}
.location.sd {
    background: url(../img/icons/flags/sd.png) no-repeat 6px 10px transparent;
}
.location.se {
    background: url(../img/icons/flags/se.png) no-repeat 6px 10px transparent;
}
.location.sg {
    background: url(../img/icons/flags/sg.png) no-repeat 6px 10px transparent;
}
.location.sh {
    background: url(../img/icons/flags/sh.png) no-repeat 6px 10px transparent;
}
.location.si {
    background: url(../img/icons/flags/si.png) no-repeat 6px 10px transparent;
}
.location.sj {
    background: url(../img/icons/flags/sj.png) no-repeat 6px 10px transparent;
}
.location.sk {
    background: url(../img/icons/flags/sk.png) no-repeat 6px 10px transparent;
}
.location.sl {
    background: url(../img/icons/flags/sl.png) no-repeat 6px 10px transparent;
}
.location.sm {
    background: url(../img/icons/flags/sm.png) no-repeat 6px 10px transparent;
}
.location.sn {
    background: url(../img/icons/flags/sn.png) no-repeat 6px 10px transparent;
}
.location.so {
    background: url(../img/icons/flags/so.png) no-repeat 6px 10px transparent;
}
.location.sr {
    background: url(../img/icons/flags/sr.png) no-repeat 6px 10px transparent;
}
.location.st {
    background: url(../img/icons/flags/st.png) no-repeat 6px 10px transparent;
}
.location.sv {
    background: url(../img/icons/flags/sv.png) no-repeat 6px 10px transparent;
}
.location.sy {
    background: url(../img/icons/flags/sy.png) no-repeat 6px 10px transparent;
}
.location.sz {
    background: url(../img/icons/flags/sz.png) no-repeat 6px 10px transparent;
}
.location.tc {
    background: url(../img/icons/flags/tc.png) no-repeat 6px 10px transparent;
}
.location.td {
    background: url(../img/icons/flags/td.png) no-repeat 6px 10px transparent;
}
.location.tf {
    background: url(../img/icons/flags/tf.png) no-repeat 6px 10px transparent;
}
.location.tg {
    background: url(../img/icons/flags/tg.png) no-repeat 6px 10px transparent;
}
.location.th {
    background: url(../img/icons/flags/th.png) no-repeat 6px 10px transparent;
}
.location.tj {
    background: url(../img/icons/flags/tj.png) no-repeat 6px 10px transparent;
}
.location.tk {
    background: url(../img/icons/flags/tk.png) no-repeat 6px 10px transparent;
}
.location.tl {
    background: url(../img/icons/flags/tl.png) no-repeat 6px 10px transparent;
}
.location.tm {
    background: url(../img/icons/flags/tm.png) no-repeat 6px 10px transparent;
}
.location.tn {
    background: url(../img/icons/flags/tn.png) no-repeat 6px 10px transparent;
}
.location.to {
    background: url(../img/icons/flags/to.png) no-repeat 6px 10px transparent;
}
.location.tr {
    background: url(../img/icons/flags/tr.png) no-repeat 6px 10px transparent;
}
.location.tt {
    background: url(../img/icons/flags/tt.png) no-repeat 6px 10px transparent;
}
.location.tv {
    background: url(../img/icons/flags/tv.png) no-repeat 6px 10px transparent;
}
.location.tw {
    background: url(../img/icons/flags/tw.png) no-repeat 6px 10px transparent;
}
.location.tz {
    background: url(../img/icons/flags/tz.png) no-repeat 6px 10px transparent;
}
.location.ua {
    background: url(../img/icons/flags/ua.png) no-repeat 6px 10px transparent;
}
.location.ug {
    background: url(../img/icons/flags/ug.png) no-repeat 6px 10px transparent;
}
.location.um {
    background: url(../img/icons/flags/um.png) no-repeat 6px 10px transparent;
}
.location.us {
    background: url(../img/icons/flags/us.png) no-repeat 6px 10px transparent;
}
.location.uy {
    background: url(../img/icons/flags/uy.png) no-repeat 6px 10px transparent;
}
.location.uz {
    background: url(../img/icons/flags/uz.png) no-repeat 6px 10px transparent;
}
.location.va {
    background: url(../img/icons/flags/va.png) no-repeat 6px 10px transparent;
}
.location.vc {
    background: url(../img/icons/flags/vc.png) no-repeat 6px 10px transparent;
}
.location.ve {
    background: url(../img/icons/flags/ve.png) no-repeat 6px 10px transparent;
}
.location.vg {
    background: url(../img/icons/flags/vg.png) no-repeat 6px 10px transparent;
}
.location.vi {
    background: url(../img/icons/flags/vi.png) no-repeat 6px 10px transparent;
}
.location.vn {
    background: url(../img/icons/flags/vn.png) no-repeat 6px 10px transparent;
}
.location.vu {
    background: url(../img/icons/flags/vu.png) no-repeat 6px 10px transparent;
}
.location.wales {
    background: url(../img/icons/flags/wales.png) no-repeat 6px 10px transparent;
}
.location.wf {
    background: url(../img/icons/flags/wf.png) no-repeat 6px 10px transparent;
}
.location.ws {
    background: url(../img/icons/flags/ws.png) no-repeat 6px 10px transparent;
}
.location.ye {
    background: url(../img/icons/flags/ye.png) no-repeat 6px 10px transparent;
}
.location.yt {
    background: url(../img/icons/flags/yt.png) no-repeat 6px 10px transparent;
}
.location.za {
    background: url(../img/icons/flags/za.png) no-repeat 6px 10px transparent;
}
.location.zm {
    background: url(../img/icons/flags/zm.png) no-repeat 6px 10px transparent;
}
.location.zw {
    background: url(../img/icons/flags/zw.png) no-repeat 6px 10px transparent;
}
