/**
 resets
**/

body {
    background-color: #efefef;
}

nav {
    display: inline-block;
    width: 18%;
    float: left;
    margin: 2rem;
}

nav > * {
    margin: 0 auto;
}

#projects {
    display: inline-block;
    width: 64%;
    float: left;
    margin-top: 2rem
}

#projects section:first-child {
    width: 720px;
}

/**
nav bar and external links
**/
#profile_pic {
    height: 230px;
    width: 206px;
    display: inline-block;
    background: url(../img/profilepic.png);
}

#profile_pic.hanks {
    height: 230px;
    width: 206px;
    display: inline-block;
    background: url(../img/hanks.png);
}

#fileupload {
    width: 206px;
    height: 228px;
    opacity: 0;
}

h1 {
    font-family: Tahoma;
    color: rgb(46, 165, 159);
    font-size: 2.1rem;
    font-weight: 100;
}

#tech_button {
    position: absolute;
    right: -44px;
    top: -12px;
}

#external_details {
    padding: 0;
}

#external_details li {
    list-style-type: none;
    margin: 0;
    padding-left: 32px;
    font-family: Tahoma;
    font-weight: 100;
    font-size: 0.95rem;
    line-height: 2rem;
    color: rgb(42, 40, 41);
}

.location { background: url(../img/icons/location.png) no-repeat 0 center; }
.personal { background: url(../img/icons/personal.png) no-repeat 0 center; }
.tumblr { background: url(../img/icons/tumblr.png) no-repeat 0 center; }
.twitter { background: url(../img/icons/twitter.png) no-repeat 0 center; }
.meetup { background: url(../img/icons/meetup.png) no-repeat 0 center; }
.linkedin { background: url(../img/icons/linkedin.png) no-repeat 0 center; }
.lanyrd { background: url(../img/icons/lanyrd.png) no-repeat 0 center; }
.github { background: url(../img/icons/github.png) no-repeat 0 center; }


/**
info and details
**/

#developer_name {
    margin: 0
}

#addContact div, #addHeadline div, #completeSignup > div {
    margin: 12px 18px;
}

#addContact input {
    width: 100%;
}

#addContact input:not([type=submit]) {
    width: 100%;
    font-size: 1.3rem;
    padding: 0 0.2rem;
    margin: 0;
    border: 0;
    color: #585352;
    line-height: 1.6rem;
    cursor: pointer;
}

input:focus {
    box-shadow: none;
    outline: none;
    border: 0;
}
#addDescription {
    width: 720px;
    margin-left: -300px;
}

#addDescription textarea {
    width: 420px;
    max-width: 420px;
    border: 1px solid  rgb(46, 165, 159);
    margin: 25px 18px 18px 18px;
    background-color: whitesmoke;
    height: 340px;
    display: inline-block;
}

.modalslideout {
    margin: 25px 0 18px;
    height: 280px;
    width: 33%;
}
.modalslideout pre {
    padding: 12px 18px;
}

#submitDescription {
    position: absolute;
    bottom: 22px;
    right: 13px;
    width: 33%;
}

#addHeadline input {
    border-top: 1px solid #ccc;
    width: 347px;
}

#signupwithemail {
    margin: 18px 0;
    overflow: hidden;
}

label[for="password"] {
    float: left;
    width: 25%;
    padding-left: 0px;
}
label[for="password"]:before {
    left: 0px;
    top: 0.8rem;
}

#password {
    float: left;
    width: 75%;
    border-top: 1px solid #ccc
}

#submitPassword {
    width: 100%;
    border-top: 1px solid #ccc;
    margin: 1rem 0;
}
/**
 project boxes
**/
.current_projects article {
    border: 1px inset #aaa;
    border-width: 0 1px 2px 0;
    background-color: white;
}

.current_projects  h2 {
    font-size: 1.2rem;
    color: rgb(41, 41, 41);
}

.current_projects p {
    font-size: 1.05rem
    color: rgb(41, 41, 41);
}


.previous_projects h1 {


}
