* {
    box-sizing: border-box;
}

html {
    font-size: 91%;
    height: 100%;
}

html, body, div, section {
    margin: 0;
    padding: 0;
    display: block;
}

body {
    background-color: #456789;
    height: 100%;
}

h1, h2, h3, button, p, a, caption, label, submit, textarea, span, dd, dt{
    color: #585352;
    font-family: "PT Sans Narrow";
    font-size: 1.5rem;
}

.tpb {
    font-family: "PT Sans Narrow";
    font-size: 80px;
    color: black;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -16px;
    letter-spacing: -6px;
}

form {
    display: block;
    width: 780px;
    margin: 0 auto;
    color: #585352;
}

.form {
    background: url(../img/pink_texture.jpg) repeat 0 0 #f6e4e2;
    border-bottom: 2px solid #333;
    padding: 1.5rem 0;
}

label {
    display: inline-block;
    clear: left;
    padding-left: 12rem;
    width: 24rem;
}

label:after {
    content: ':';
}

input {
    border: 0;
    padding: 7px;
    outline: none;
}

.main {
    width: 1280px;
    margin: 0 auto;
    color: white;
    background: white;
    height: auto;
    min-height: 100%;
    overflow: hidden;
}

.submitForm {
    color: #fff;
    padding: 0.4rem 2.0rem 0.4rem 1.2rem;
    margin: 0px;
    background:  #12a09b url(../img/arrow.png)  no-repeat right center;
    border: 0px solid black;
    text-transform: uppercase;
    font-size: 1.6rem;
    cursor: pointer;
}

.closeSection {
    color: #fff;
    padding: 0.4rem 1.2rem 0.4rem 1.2rem;
    margin: 0px;
    background:  #12a09b no-repeat right center;
    border: 0px solid black;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 100;
}

.showHide {
    position:relative;
    display:block;
    height: 104px;
    width: 250px;
    background: #ccc;
}

.showHide * {
    display: none;
}


/**
 components
**/

/** top bar **/
#topbar {
    background: white;
    border: 0;
    border-bottom: 1px solid rgb(197,197,197);
    height: 67px;
    width: 100%;
}

#topbar_main {
    position: relative;
}

#site_search {
    border: 1px solid rgb(197,197,197);
    background-color: rgb(242,242,244);
    padding: 2px;
    color: rgb(42,40,41);
    background: url(../img/icons/search.png) no-repeat right center;
    float: right;
    display: inline-block;
    width: 200px;
    padding-left: 4px;
    margin-right: 1rem;
    position: relative;
    top: 12px;
    left: -12px;
}

#search_string {
    width: 162px;
}

#topbar_pagelinks {
    border: 1px solid rgb(197,197,197);
    background-color: rgb(242,242,244);
    display: inline-block;
    float: right;
    right: 1rem;
    position: relative;
    top: 12px;
    left: -12px;

}

#topbar_pagelinks a {
    height: 34px;
    width: 37px;
    padding: 8px;
    display: inline-block;
    vertical-align: top;
}

#topbar_pagelinks a:hover::after {
    content: attr(data-descr);
    color: white;
    display: block;
    position: relative;
    min-width: 100px;
    height: 1rem;
    padding: 2px;
    top: 25px;
    background-color: rgb(107, 107, 107);
    font-size: 0.95rem;
    border: 0;
    text-decoration: none;
}
/*
#topbar_pagelinks a:hover::before {
    content: "";
    position: relative;
    display: block;
    top: 25px;
    color: white;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid rgb(107, 107, 107);;
    background-color: rgb(107, 107, 107);
}
*/
.topbar_pagelink {
    border: 0;
    border-right: 1px solid rgb(197, 197, 197);
}

#loginout {
    background: url(../img/icons/loginout.png) no-repeat center center;
}
#profile_edit {
    background: url(../img/icons/edit_active.png) no-repeat center center;
}
#share {
    background: url(../img/icons/share.png) no-repeat center center;
}
#topbar_pagelinks  #user {
    width: auto;
    min-width: 0;
    font-weight: 100;
    color: rgb(197, 197, 197);
    font-size: 1rem;
    padding-right: 35px;
    margin-right: 8px;
    background: url(../img/icons/hanks.png) no-repeat center right;
}
