* {
    box-sizing: border-box;
}

html {
    font-size: 91%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

html, body, div, section {
    margin: 0;
    padding: 0;
    display: block;
}

body {
    background-color: #456789;
    height: 100%;
}

h1, h2, h3, button, p, a, caption, label, submit, select, option, textarea, input, span, dd, dt, ul, li {
    color: #585352;
    font-family: "PT Sans Narrow";
    font-size: 1.3rem;
}

.tpb {
    font-family: "PT Sans Narrow";
    font-size: 80px;
    color: black;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -16px;
    letter-spacing: -6px;
}

.hidden {
    display: none;
}

.shown {
    display: block;
}

.addmore {
    font-style: italic;
    cursor: pointer;
}


form {
    display: block;
    width: 80%;
    max-width: 820px;
    margin: 0 auto;
    color: #585352;
}

.modal form {
    max-width: 100%
}

.modalform {
    width: 100%;
}

.form {
    background: url(../img/pink_texture.jpg) repeat 0 0 #f6e4e2;
    border-bottom: 2px solid #333;
    padding: 1.5rem 0;
}

label {
    display: inline-block;
    position: relative;
    clear: left;
    padding-left: 16%;
    width: 45%;
    text-align: left;
    vertical-align: top;
    padding-top: 14px;
}

label:after {
    content: ':';
}

input, textarea, select, #skillslist {
    display: inline-block;
    clear: right;
    border: 1px solid #ccc;
    border-top: 2px solid #ccc;;
    padding: 8px;
    font-size: 1.4rem;
    line-height: 2.1rem;
    width: 33%;
    max-width: 275px;
    margin-top: 2px;
    background-color: white;
}

select {
    border: 1px solid #ccc;
    font-size: 1.2rem;
    max-width: 100%;
    height: 3rem;
    margin: 0.4rem 0;
}

textarea {
    width: 360px;
    margin-top: 2px;
    resize: none;
}

label.description {
    width: 100%;
    margin-bottom: 0.6rem;
}

textarea.description {
    max-width: 100%;
    margin-left: 16%;
    width: 63%;
}

.modal input, .modal textarea {
    max-width: 100%
}

.main {
    width: 90%;
    margin: 0 auto;
    color: white;
    background: white;
    height: auto;
    min-height: 100%;
    overflow: visible;
    position: relative;
    border-top: 0px;
}

.submitForm {
    color: #fff;
    padding: 0.4rem 2.0rem 0.4rem 1.2rem;
    margin: 0px;
    background:  #12a09b url(../img/arrow.png)  no-repeat right center;
    border: 0px solid black;
    text-transform: uppercase;
    font-size: 1.6rem;
    cursor: pointer;
}

input.cancel {
    color: #12a09b;
    padding: 0.4rem 1.6rem 0.4rem 1.6rem;
    margin: 12px 0px;
    border: 1px solid #12a09b;
    text-transform: uppercase;
    font-size: 1.6rem;
    cursor: pointer;
}

.closeSection {
    color: #fff;
    padding: 0.4rem 1.2rem 0.4rem 1.2rem;
    margin: 0px;
    background:  #12a09b no-repeat right center;
    border: 0px solid black;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 100;
}

.showHide {
    position:relative;
    display:block;
    height: 104px;
    width: 250px;
    background: #ccc;
}

.showHide * {
    display: none;
}


/**
 components
**/

/** top bar **/
#topbar {
    background: white;
    border: 0;
    border-bottom: 1px solid rgb(197,197,197);
    height: 67px;
    width: 100%;
}

#topbar_main {
    position: relative;
}

#site_search {
    border: 1px solid rgb(197,197,197);
    background-color: rgb(242,242,244);
    padding: 2px;
    color: rgb(42,40,41);
    background: url(../img/icons/search.png) no-repeat right center;
    float: right;
    display: inline-block;
    width: 200px;
    padding-left: 4px;
    margin-right: 1rem;
    position: relative;
    top: 12px;
    left: -12px;

    display: none;
}

#search_string {
    border: 0;
    border-top: 0;
    padding: 2px;
    line-height: 1rem;
    outline: none;
    width: 162px;

    display: none;
}

#topbar_pagelinks {
    border: 1px solid rgb(197,197,197);
    background-color: rgb(242,242,244);
    display: inline-block;
    float: right;
    right: 1rem;
    position: relative;
    top: 12px;
    left: -12px;
}

#topbar_pagelinks a {
    height: 34px;
    width: 37px;
    padding: 8px;
    display: inline-block;
    vertical-align: top;
}

/*
#topbar_pagelinks a:hover::after {
    content: attr(data-descr);
    color: white;
    display: block;
    position: relative;
    min-width: 100px;
    height: 1rem;
    padding: 2px;
    top: 25px;
    background-color: rgb(107, 107, 107);
    font-size: 0.95rem;
    border: 0;
    text-decoration: none;
}
#topbar_pagelinks a:hover::before {
    content: "";
    position: relative;
    display: block;
    top: 25px;
    color: white;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid rgb(107, 107, 107);;
    background-color: rgb(107, 107, 107);
}
*/

.topbar_pagelink_indexpage {
    border: 0;
}

.topbar_pagelink {
    border: 0;
    border-right: 1px solid rgb(197, 197, 197);
}

#loginout {
    background: url(../img/icons/loginout.png) no-repeat center center;
}
#profile_edit {
    background: url(../img/icons/edit_active.png) no-repeat center center;
}
#share {
    background: url(../img/icons/share.png) no-repeat center center;
}
#topbar_pagelinks  #user {
    width: auto;
    min-width: 0;
    font-weight: 100;
    color: rgb(197, 197, 197);
    font-size: 1rem;
    padding-right: 35px;
    margin-right: 8px;
    background: url(../img/icons/hanks.png) no-repeat center right;
}

/*
module formatting
*/
.module {
    position: relative;
}

.modal {
    position: absolute;
    top: 1px;
    background: white;
    border: 6px solid rgba(46, 165, 159, 0.4);
    border-radius: 5px;
    box-shadow: 0 0 15px;
    width: 400px;
    top: 200px;
    left: 50%;
    margin-left: -200px;
    z-index: 99;
}

.modal label:before {
    content: attr(class) !important;
    position: absolute;
    top: 0px;
    left: 33px;
    font-style: normal;
}
.modal label:after {
    display: none;
}

.modal label {
    padding-top: 0px;
    margin-bottom: 18px;
    padding-left: 10rem;
    width: 24rem;
}

.modal > div {
/*    padding: 12px 18px;   */
}

.module h1 {
    font-size: 1.5rem;
    background-color: rgb(46, 165, 159);
    color: white;
    padding: 1rem;
    margin-bottom: 0;
}

.module.modal h1 {
    margin-top: -2px;
    border-top: 1px solid rgb(46,165,159);
    border-radius: 5px 5px 0 0;
}

.module article {
    padding-left: 1rem;
}


.modalslideout {
    overflow-y: scroll;
    overflow-x: hidden;
    background: white;
    border: 1px solid rgb(46,165,159);
    background: white;
    display: inline-block;
    border-width: 1px;
    vertical-align: top;
}

.modalslideout h1 {
    font-size: 1rem;
}

/*
technology list
*/

.techlist {
    line-height: 2rem;
    color: rgb(26, 145, 137);
    display: inline;
    list-style-type: none;
}

.techlist li, .techlist span {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 0.3rem 1rem;
    display: inline-block;
    color: white;
    background-color: rgb(177, 177, 177);
    border-width: 2px 0 0 1px;
    border-style: solid;
    border-color: rgb(140, 140, 140);
    border-radius: 2px;
    margin: 0 0.2rem 0.8rem;
}

.techlist li.addmore {
    color: #585352;
    background-color: rgb(255, 255, 255);
    border: 0px;
}

.techlist li.editable:after, .techlist span.editable:after {
    content: " x";
    color: #666;
    padding-left: 6px;
}

.techlist li.addmore.editable:after {
    content: "";
    padding-left: 0;
}


ul.captioned {
    position: relative;
    left: 135px;
    overflow: visible;
    width: 85%;;
    display: block;
    -webkit-padding-start: 0px;
}

ul.captioned[title]:before {
    content: attr(title) ": ";
    position: absolute;
    top: 0; left: -135px;
    width: 135px;
    display: block;
}


.addanother { font-style: italic }

/*
button label developer / project / good cause lanyards
*/

#good_cause_button,
#tech_button,
#profile_cause_button {
    padding-left: 32px;
    height: 118px;
    width: 288px;
    border: 0;
    margin: 0;
    opacity: 0.9;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

#good_cause_button {
    background: url(../img/cause_button.png) no-repeat 0 0 transparent;
    padding-right: 64px;
}

#tech_button {
    background: url(../img/tech_button.png) no-repeat 0 0 transparent;
    z-index: 10;
}

#good_cause_button,
#tech_button,
#good_cause_button p,
#tech_button p,
#profile_cause_button p {
    font-size: 2.4rem;
    color: white;
    margin: 22px;
}

#good_cause_button span,
#tech_button span,
#profile_cause_button span {
    display: block;
    font-size: 1.6rem;
    color: white;
    text-transform: none;
    font-weight: 100;
}

/*
footer
*/
footer {
    font-family: "PT Sans Narrow";
    background-color: black;
    color: white;
    width: 100%;
    height: 67px;
    padding: 4px;
    left: 0;
    clear: both;
    position: relative;
}

footer .tpb {
    font-size: 48px;
    color: white;
    top: 3px;
    letter-spacing: 0px;
    margin: 0px;
    border-right: 1px white solid;
    padding: 0 1.5rem 0 0;
    position: absolute;
    display: inline-block;
    left: 30px
}

footer .msan {
    font-size: 19px;
    color: white;
    width: 141px;
    padding-left: 1.5rem;
    position: relative;
    position: absolute;
    display: inline-block;
    left: 287px;
    line-height: 1.1;
    top: 13px;
}


/*
    facebook button
*/

button.facebook, button.twitter, button.github, button.emailsignup {
    width: 100%;
    font-size: 24px;
	margin-top: 15px;
	padding: 6px;
}

button.facebook,
button.facebook:visited {
    position: relative;
    overflow: visible;
    display: inline-block;
    padding: 0.3em 0.6em 0.375em;
    margin: 0;
    border-color: #29447e #29447e #1a356e;
    color: #fff;
    background-color: #5B74A8;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#637bad), to(#5872a7));
    background-image: -moz-linear-gradient(#637bad, #5872a7);
    background-image: -o-linear-gradient(#637bad, #5872a7);
    background-image: linear-gradient(#637bad, #5872a7);
    text-decoration: none;
    text-align: center;
    font: bold 24px/normal 'lucida grande', tahoma, verdana, arial, sans-serif;
    cursor: pointer;

    display: none;

}

button.facebook:hover,
button.facebook:focus,
button.facebook:active {
    border-color: #777 #777 #666;
}

button.facebook:active {
    border-color: #aaa;
    background: #ddd;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

button.facebook::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/*
    twitter button
*/

button.twitter {
    position: relative;
	display: inline-block;
	overflow: visible;
	padding: 5px 10px;
	font-size: 24px;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	border: 1px solid #CCC;
	cursor: pointer;
	border-radius: 4px;
	text-decoration: none;
    color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
	background-color: #019AD2;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear,left top,left bottom,from(#33BCEF),to(#019AD2));
	background-image: -moz-linear-gradient(#33BCEF,#019AD2);
	background-image: -ms-linear-gradient(#33BCEF,#019AD2);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#33BCEF),color-stop(100%,#019AD2));
	background-image: -webkit-linear-gradient(#33BCEF,#019AD2);
	background-image: -o-linear-gradient(#33BCEF,#019AD2);
	background-image: linear-gradient(#33BCEF,#019AD2);
	border-color: #057ED0;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);

    display: none;

}

button.twitter:hover {
    color: white;
	background-color: #0271BF;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear,left top,left bottom,from(#2DADDC),to(#0271BF));
	background-image: -moz-linear-gradient(#2DADDC,#0271BF);
	background-image: -ms-linear-gradient(#2DADDC,#0271BF);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#2DADDC),color-stop(100%,#0271BF));
	background-image: -webkit-linear-gradient(#2DADDC,#0271BF);
	background-image: -o-linear-gradient(#2DADDC,#0271BF);
	background-image: linear-gradient(#2DADDC,#0271BF);
	border-color: #096EB3;
}

button.github {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #60b044;
    background-image: -moz-linear-gradient(#8add6d, #60b044);
    background-image: -webkit-linear-gradient(#8add6d, #60b044);
    background-image: linear-gradient(#8add6d, #60b044);
    background-repeat: repeat-x;
    vertical-align: middle;
    cursor: pointer;
    padding: 5px;
    font-size: 25px;
    border-radius: 5px;
    border: 1px solid #5ca941;
    padding-top: 11px;
    padding-bottom: 11px;
    font: 22px Helvetica, arial, freesans, clean, sans-serif;
    font-weight: bold;
}
